.worldbig31{
    width: 85%;
    height: 250px;
    text-align: center;
    border-radius: 3%;
    margin-top: 10%;
    padding: 5%;
    background: white;
    color: #00ccb1;
    margin-bottom: 5%;
}