.city{
    width: 27%;
    height: 350px;
    margin :2%;
}
.cityp{
    display: flex;
    justify-content: space-between;
    color: #777777;
    font-size: 20px;
    margin: 2%
}
.Part3{
    display: flex;
    flex-wrap: wrap;
}