.titrepart2{
    color: #00b39b; 
    font-size: 40px;
    text-align: center;
}
.contpart2{
    background-color: aquamarine;
}
.contpart2 h1{
    text-align: left;
    color: #00b39b;
}
.contpart2 h6{
    text-align: left;
    color: #00b39b;
}